<launch>

	<!-- https://code.google.com/p/rma-ros-install/ -->
	
	<include file="$(find robotV1)/launch/robotV1.launch" />

	
	
	<!-- https://github.com/eemmyy23/odom_covariance-->
	
	<include file="$(find odom_covariance)/launch/sensors.launch" />

<!--	<include file="$(find odom_covariance)/launch/filter.launch" /> -->
	

</launch>

