<launch>

	<node pkg="xsens_driver" type="mtnode.py" name="mtnode">
		<param name="device" value="/dev/ttyUSB0" />
		<param name="baudrate" value="115200" />
		<param name="frame_id" value="/base_imu" />
	</node>
<!-- 
	<node pkg="odom_covariance" type="imu_tf_broadcaster" name="imu_tf_broadcaster" />


	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch" /> 

	<include file="$(find odom_covariance)/launch/heightmap_nodelet.launch"/>

 
	
	<param name="/use_sim_time" type="bool" value="true" />

	<node pkg="tf" type="static_transform_publisher"
		name="velodyne_tf"
  		args="0 0 0.75 -1.57 0 0 /base_link /velodyne 1000"
	/>
-->



</launch>
