<launch>

	<node pkg="xsens_driver" type="mtnode.py" name="mtnode">
		<param name="device" value="/dev/ttyUSB0" />
		<param name="baudrate" value="115200" />
		<param name="frame_id" value="/base_imu" />
	</node>
<!--
	<node pkg="tf" type="static_transform_publisher" 
		name="imu_broadcaster" 
		args="0 0 0.5 0 0 0 /base_link /base_imu 100"
	 />
-->
</launch>
